[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "motifcluster"]
	path = motifcluster
	url = https://github.com/wgunderwood/motifcluster
	subdir = R
